section {
    height: 500px;
}

body {
    font-family: 'Roboto', sans-serif;  
    margin: 0;
}

.hero {
    background-color: #0f0e17;
    height: calc(100vh - 60px);
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: column;
    padding-top: 80px; 
}

header {
    width: 100%;
    background-color: #fffffe;
    padding: 20px 0;
    position: absolute;
    top: 0;
}

.header-container {
    width: 90%;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    color: black;
    font-weight: bold;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.navigation a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 24px;
}

.navigation a:hover {
    color: #ef4565;
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 0 auto; 
    max-width: 1200px; 
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('/Assets/pexels-simon-robben-614810.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 100px;
    transition: background-image 0.9s ease;
}

.profile-image:hover {
    background-image: url('/Assets/rm328-366-tong-08_1.jpg');
}

.profile-text {
    flex-grow: 1;
    width: calc(100% - 220px);
    text-align: left;
}

h2, .logo {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.job-title {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-text ul, .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-text li {
    font-size: 16px;
    margin-bottom: 4px;
}

.profile-text .label {
    font-weight: bold;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #ef4565;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 20px;
}

.button:hover {
    background-color: white;
    color: black;
}

.button:active {
    background-color: #898989;
    color: #808080;
}

.info-section {
    margin: 40px 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
    font-size: 24px;
}

.info-section table {
    width: 100%; 
    border-collapse: separate; 
    border-spacing: 20px; 
    border: 5px solid white; 
    border-radius: 15px; 
    margin-bottom: 60px !important;
}

.left-info, .right-info {
    vertical-align: top; 
    padding: 20px; 
}

.left-info {
    width: 50%;
}

.right-info {
    width: 50%; 
}

.infolist {
    font-size: 18px;
    justify-content: left;
}

footer {
    background-color: #0f0e17; 
    color: white; 
    padding: 20px 0; 
    text-align: center; 
    font-size: 18px; 
    border-top: 1px solid white; 
}

footer p {
    margin: 0; 
    padding: 0 20px; 
}

.table-container {
    margin-bottom: 50px;
}

.active {
    font-weight: bold;
}

.about-section, .container {
    padding: 80px;
    height: calc(100vh - 40px);
    padding-top: 120px;
    background-color: #0f0e17;
    color: white;
}

.facts, .routine {
    margin-top: 20px;
}

.counter-section {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #0f0e17;
}

.counter-left, .counter-right {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.counter-left {
    background-color: red;
}

.counter-right {
    background-color: darkgreen;
}

.counter-left:hover, .counter-right:hover {
    background-color: #BDBDBD;
}

.counter {
    padding: 10px;
    margin: 10px;
    color: black;
}

.contact-page {
    background-color: #0f0e17;
}
.contact-page .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 100px;
}

.contact-page h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contact-page .input-container {
    margin-bottom: 1rem;
}

.contact-page label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.contact-page input[type="text"], 
.contact-page input[type="email"], 
.contact-page textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.contact-page textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-page button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-page button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.contact-page button:hover:not(:disabled) {
    background-color: #45a049;
}

