section {
    height: 500px;
}

body {
    font-family: 'Roboto', sans-serif;  /* Corrected the font name */
    margin: 0;
}

.hero {
    background-color: #0f0e17;
    height: calc(100vh - 60px);
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: flex-start; /* This will align the content to the top */
    align-items: center; /* This will center the content horizontally */
    flex-direction: column;
    padding-top: 80px; /* Adjust the distance from the header here */
}

header {
    width: 100%;
    background-color: #fffffe;
    padding: 20px 0;
    position: absolute;
    top: 0;
}

.header-container {
    width: 90%;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    color: black;
    font-weight: bold;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.navigation a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 24px;
}

.navigation a:hover {
    color: #ef4565;
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin: 0 auto; /* This will help to horizontally center the .profile-container */
    max-width: 1200px; /* optional, but helps in making sure it doesn't stretch too wide on large screens */
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('/Assets/pexels-simon-robben-614810.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 100px;
    transition: background-image 0.9s ease;
}

.profile-image:hover {
    background-image: url('/Assets/rm328-366-tong-08_1.jpg');
}

.profile-text {
    flex-grow: 1;
    width: calc(100% - 220px);
    text-align: left;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.job-title {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-text ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-text li {
    font-size: 16px;
    margin-bottom: 4px;
}

.profile-text .label {
    font-weight: bold;
}


.button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #ef4565;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 20px;
}

.button:hover {
    background-color: white;
    color: black;
}
.button:active {
    background-color: #898989;
    color: #808080;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.job-title {
    font-size: 18px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile-text ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-text li {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
}

.profile-text .label {
    display: block;
    font-weight: bold;
}

.info-section {
    margin: 40px 0; /* Optional - to give space from content above and below */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* This centers the table on the page */
    font-size: 24px;
}

.info-section table {
    width: 100%; /* Makes sure the table takes the full width of its parent */
    border-collapse: separate; /* Ensures the cells don't share borders */
    border-spacing: 20px; /* Gives spacing between cells */
    border: 5px solid white; /* Sets the black border */
    border-radius: 15px; /* Rounds the border */
    margin-bottom: 60px !important;
}

.left-info, .right-info {
    vertical-align: top; /* Aligns content to the top of the cell */
    padding: 20px; /* Adds some space around the content inside cells */
}

.left-info {
    width: 50%; /* Set a fixed width for left column */
}

.right-info {
    width: 50%; /* Set a fixed width for right column */
}

.infolist {
    font-size: 18px;
    justify-content: left;
}

footer {
    background-color: #0f0e17; /* Using the same color as your hero section for consistency */
    color: white; /* Making the text color white for contrast */
    padding: 20px 0; /* Some padding at the top and bottom */
    text-align: center; /* Center aligning the text */
    font-size: 18px; 
    border-top: 1px solid white; 
}

footer p {
    margin: 0; 
    padding: 0 20px; 
}

.table-container {
    margin-bottom: 50px ;
}

.active {
    font-weight: bold;
}

.about-section {
    padding: 80px;
    height: calc(100vh - 40px);
    padding-top: 120px;
    background-color: #0f0e17;
    color: white;
}

.facts, .routine {
    margin-top: 20px;
}

.counter-section {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #0f0e17;
}

.counter-left {
    background-color: red;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.counter-left:hover {
    background-color: #BDBDBD
}

.counter-right {
    background-color: darkgreen;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.counter-right:hover {
    background-color: #BDBDBD
}

.counter {
    padding: 10px;
    margin: 10px;
    color: black;
}

.container {
    padding: 80px;
    height: calc(100vh - 40px);
    padding-top: 120px;
}